body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: space-between;
	background-color: #e2e6de;

}

.header, .hero {
	background-color: #729EA1;
	color: #e2e6de;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.header {
	font-size:24px;
	padding: 25px 200px 25px 200px;
	flex-shrink: 0;
}

ul {
	list-style-type: none;
	display: flex;
	margin: 0;
	padding: 0;
	gap: 20px;
}

a {
	text-decoration: none;
	color: #e2e6de;
}

li .about {
	color: #E79186;
}

li .instagram {
	color: #DFBE99;
}

li .tiktok {
	color: #B5BD89;
}

.text {
	font-size: 18px;
	color: #e2e6de;
}

.hero, .center-section {
	padding: 50px 200px 50px 200px;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 48px;
	color: #D8B083;
}

.hero-left {
	display: flex;
	flex-flow: column nowrap;
	padding-right: 20px;
	gap: 15px;
	color: #EC9192;
}

.hero-photo {
	width: 400px;
	height: auto;
	border-radius: 40px;
}

button {
	width: 100px;
	height: auto;
}

.photo {
	width: 400px;
	height: auto;
}

.center-section {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	gap: 30px;
}

.random-info {
	display: flex;
	flex-direction: row;
	gap: 30px;
}

.random-info-header {
	font-size: x-large;
	color: #ba7f3b;
}

.info-cards {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.info-cards .text {
	color: #729ea1;
	margin: 10px 0;
}

.icon {
	height: auto;
	width: 100px;
	border-radius: 20px;
}

.quote-section {
	background-color: #e9d4bf;
	padding: 50px 0 50px 0;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.quote-section .text {
	color: #ba7f3b;
	font-style: italic;
	width: 365px;
	display: flex;
	justify-content: center;
	margin-bottom: 5px;
}

.quote-section .author {
	width: 365px;
	display: flex;
	justify-content: flex-end;
	color: #8c5f2c;

}

.action-section {
	padding: 50px 200px 50px 200px;
}

.action-box {
	background-color: #b5bd89;
	margin: 0;
	padding: 20px 30px 20px 30px;
	border-radius: 12px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.call-to-action {
	font-weight: bold;
	color: #e79186;
	font-size: larger;
}

.footer {
	margin-top: auto;
	background-color: #729EA1;
	font-size: 24px;
	color: #e2e6de;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	padding: 18px;
}

.treat-button {
	background-color: #e79186;
	padding: 10px 35px;
	color: #e2e6de;
	border-radius: 10px;
	width: 100px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}